.header-container-wrapper{
background-color: #33BEBE;
}
.sansserif {
  font-family: sans-serif;
}
element-style
{
    display: flex;
background-color: #5cc0ce
}
/*{outline: 1px solid red}*/
*{
    -webkit-box-sizing: border-box;
    moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}

.image
{max-width: 460px}
/*.description{
    color: red;
}*/

.app {
    display: -webkit-flex;
    display: flex;
}
.container{
    width: 100%;
}

.prog li
{
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
}
.div d
{
margin-bottom:10px;
min-height: 300px;
background-color: lightpink;
text-align: center;
font-size: medium;
}